<!-- The way I style, I put everything into one big div called main, and then code from there -->
<div class="main" ng-controller="SignupController as signupController">
    <!-- The divs left and right handle the banners on the sides of the page that contain the quinnipiac logo -->
    <div class="left">
        <img src="images/quinnipiaclogo.png" id="image">
    </div>
    <div class="right">
        <img src="images/quinnipiaclogo.png" id="image2">
    </div>
    <!-- The container contains the information displayed in the middle of the page -->
    <div class="container">
        <!-- The header contains the bobcat logo and the text directly underneath it -->
        <div class="header">
            <img src="images/Bobcat.jpg" alt="Quinnipiac Logo">
            <h2>Sign Up</h2>
        </div>
        <!-- The signup div contains the form that will be used by students or professors to create an account for the website -->
        <div class="signup">
            <div ng-class="{ 'has-error' : commentForm.name.$error.required && !commentForm.name.$pristine }">
                <form name="signupForm" novalidate>
                    <div class="form-group">

                        <input class="form-control" type="email" name="email" placeholder="Email Address" id="email" ng-model="newSignup.email" required
                            style="float:right;width:100%;">

                        <span ng-show="signupForm.email.$invalid && !signupForm.email.$pristine" class="help-block" style="float:left; margin-left: 145px;">Please enter an email</span>
                        <span ng-show="signupForm.email.$error.email" class="help-block" style="float:left; margin-left: 145px;">Invalid email address.</span>

                    </div>


                    <div class="form-group">

                        <input class="form-control" type="text" name="password" placeholder="Password" id="password" ng-model="newSignup.password"
                            ng-minlength="3" ng-maxlength="10" required style="float:right;width:100%;">

                        <span ng-show="signupForm.password.$error.required && !signupForm.password.$pristine" class="help-block" style="float:left; margin-left: 145px;">Please enter a password</span>
                        <span ng-show="signupForm.password.$error.minlength" class="help-block" style="float:left; margin-left: 145px;">Your password is too short</span>
                        <span ng-show="signupForm.password.$error.maxlength" class="help-block" style="float:left; margin-left: 145px;">Your password is too long</span>

                    </div>


                    <div class="form-group">

                        <input class="form-control" type="text" name="passwordConfirmation" placeholder="Password Confirmation" id="passwordConfirmation"
                            ng-model="newSignup.passwordConfirmation" ng-minlength="3" ng-maxlength="10" ng-match="password"
                            required style="float:right;width:100%;">

                        <span ng-show="(newSignup.password !== newSignup.passwordConfirmation)" class="help-block" style="float:left; margin-left: 145px;">Passwords must match</span>

                    </div>


                    <div class="form-group">

                        <input class="form-control" type="text" name="firstName" placeholder="First name" id="firstName" ng-model="newSignup.firstName"
                            ng-minlength="2" ng-maxlength="15" required style="float:right;width:100%;">

                        <span ng-show="signupForm.firstName.$error.required && !signupForm.firstName.$pristine" class="help-block" style="float:left; margin-left: 145px;">Please enter your first name</span>
                        <span ng-show="signupForm.firstName.$error.minlength" class="help-block" style="float:left; margin-left: 145px;">Please enter a longer first name</span>
                        <span ng-show="signupForm.firstName.$error.maxlength" class="help-block" style="float:left; margin-left: 145px;">Please enter a shorter first name</span>

                    </div>


                    <div class="form-group">

                        <input class="form-control" type="text" name="lastName" placeholder="Last name" id="lastName" ng-model="newSignup.lastName"
                            ng-minlength="2" ng-maxlength="15" required style="float:right;width:100%;">

                        <span ng-show="signupForm.lastName.$error.required && !signupForm.lastName.$pristine" class="help-block" style="float:left; margin-left: 145px;">Please enter your last name</span>
                        <span ng-show="signupForm.lastName.$error.minlength" class="help-block" style="float:left; margin-left: 145px;">Please enter a longer last name</span>
                        <span ng-show="signupForm.lastName.$error.maxlength" class="help-block" style="float:left; margin-left: 145px;">Please enter a shorter last name</span>

                    </div>
                    <br>
                    <div class="form-group" style="float:right;">
                        <p style="float:right;"> Select what type of user you are</p>
                        <br>
                        <input type="radio" ng-model="newSignup.userType" value="professor">Professor
                        <input type="radio" ng-model="newSignup.userType" value="student" checked="checked">Student
                    </div>
                    <br>
                    <br>
                    <div class="form-group" style="padding-top: 7px;">

                        <input type="submit" name="submit" value="Submit" style="float:right;" ng-disabled="signupForm.$invalid">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>